@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Coiny&family=Lumanosimo&family=PT+Serif&family=Sono:wght@500&display=swap");

.navbar {
  background: #171e30;
  /* background: #292f45; */
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  /* border-bottom: 1px solid lightgray; */
  font-family: Sono;
}
.nav_icon {
  display: none;
}
.navbar__left {
  color: #a5aaad;
}
.navbar__left > a {
  margin-right: 30px;
  text-decoration: none;
  color: #a5aaad;
  font-size: 15px;
  font-weight: 700;
}
.navbar__right {
  display: relative;
  align-items: right;
}
.navbar__right > a {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #a5aaad;
  text-decoration: none;
}
